################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/IdeaStore/v15/Server/sqlite3
/.vs
bin/
obj/